diffusers[training]>=0.25.0
accelerate>=0.23.0
torch>=2.0.0
torchvision>=0.15.0
torcheval>=0.0.7
transformers
huggingface-hub
numpy
pandas
matplotlib
scikit-image
opencv-python
pydicom
pillow
tqdm
wandb
